extends layout.pug
    
block content
    h1 Welcome! #{user.display_name} ✨
    
    img(src=user.images[0].url, class='circular_image')

    table 
      thead
        tr
          th Artist
          th Track
          th Preview

      tbody
        each t in tracks
          tr 
            - var artist_name = t.track.artist
            - var track_name = t.track.name
            - var track_preview = t.track.preview_url
            - var artist_id = t.track.artist_id
            - var track_id = t.track.id 

            td #{artist_name}
            td: a(href='/recommendations?artist=' + artist_id+'&track='+track_id) #{track_name}
            td: a(href=track_preview) Preview
